$solid-neutral-400: #8E8E8E;
$solid-white: #FFFFFF;
$solid-stone-400: #BB945F;
$solid-black: #000000;
$solid-neutral-950: #0C0C0E;
.wrapper {
  padding: 0px 20px;
}
header {
  padding: 20px 20px;
  justify-content: space-between;
  background: $solid-black;
  color: $solid-white;
  display: flex;
  align-items: center;
  .logo {
    h1 {
      font-family: Forum;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 166.667%;
      letter-spacing: 0.6px;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: $solid-white;
    }
  }
  .nav_list {
    display: flex;
    align-items: center;
    .list_item {
      display: flex;
      align-items: center;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 250%;
      margin-right: 30px;
      cursor: pointer;
      img {
        width: 28px;
        height: 28px;
        flex-shrink: 0;
        margin-left: 10px;
      }
    }
  }
}